name: Tests

on: [push, pull_request]

env:
  FORCE_COLOR: 2

jobs:
  run:
    name: Node.js ${{ matrix.node }} @ ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [8.6, 10, 12, 14, 16]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install npm dependencies
        run: npm install

      - name: Run tests
        run: npm run test:ci

      - name: Run Coveralls
        # `master` should be a tag but they don't have one
        uses: coverallsapp/github-action@master
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 14
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
